body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.container {
	margin: 50px auto;
	padding: 20px;
	border: 2px solid #ccc;
	background-color: #fff;
	width: 80%;
	text-align: center;
}

h1 {
	color: #333;
}

p {
	color: #777;
	font-size: 18px;
	margin-top: 30px;
	text-decoration: underline;
}
p:hover {
    color: red;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

li {
	display: inline-block;
	margin-right: 20px;
}

a {
	color: #333;
	text-decoration: none;
}

a.active {
	color: #fff;
	background-color: #ff9900;
	padding: 10px 20px;
	border-radius: 5px;
}

a:hover {
	text-decoration: line-through;
    background-color: #ff9900;
}
button {
    padding: 10px;
    background-color: #ff9900;
    align-content: center;
    margin-left: 700px;
    margin-right: 700px;
}
button:active {
    color: #f2f2f2;
}
button:hover {
    background-color: blue;
}
.border{
	border-image: url(./image.) 11 11 11 11 round;
}